@model IEnumerable<Lab_WebUI.Models.LaboratorioModels.LaboratorioModel>

@{
    ViewBag.Title = "Equipamentos";
}

<h2>@ViewBag.Title</h2>
<form asp-action="CadastroEquipamento" asp-controller="Equipamento" method="get">
    <button class="btn btn-primary">Criar</button>
</form>

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoEquipamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cadeado)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoEquipamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inventario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cadeado)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>